########################################################
# http://bundesliga-streams.net
########################################################
@IF(@PARAM1@!=Bundesliga)@
@IF(@PARAM1@!=CATCH)@
####################################################
title=*Bundesliga Games*
type=once
cfg=bundesliga-streams.net.cfg@Bundesliga
url=http://bundesliga-streams.net
####################################################
start=http://bundesliga-streams.net/live/
skill=videoTitle

item_infos=href="([^"]+)" class="match-link /">\s*<strong.*?>([^<]+)</strong>.*?<span class="match-date">\d+\s*[^\s]+\s+\d+\s*([^<]+)</span>
item_order=url|match|date.tmp
item_skill=rss

item_info_name=date
item_info_from=date.tmp
item_info_convert=replace('%s',' CET','')
item_info_build=%s

item_info_name=title
item_info_from='(' + date + )  ' + match
item_info_build=%s

item_info_name=cfg
item_info_build=bundesliga-streams.net.cfg@CATCH

item_url_build=%s
@ENDIF@
@ENDIF@

@IF(@PARAM1@==Bundesliga)@
skill=videoTitle

item_infos=href="([^"]+)" class="match-link /">\s*<strong itemprop="summary">([^<]+)</strong>.*?<span class="match-date">\d+\s*[^\s]+\s+\d+\s*([^<]+)</span>
item_order=url|match|date.tmp
item_skill=rss

item_info_name=date
item_info_from=date.tmp
item_info_convert=replace('%s',' CET','')
item_info_build=%s

item_info_name=title
item_info_from='(' + date + )  ' + match
item_info_build=%s

item_info_name=cfg
item_info_build=bundesliga-streams.net.cfg@CATCH

item_url_build=%s
@ENDIF@


@IF(@PARAM1@==CATCH)@
catcher=streams

item_infos=<a href="([^"]+)">Channel (\d+)</a></li>
item_order=url|title.tmp
item_skill=rss

item_info_name=title
item_info_from=title.tmp
item_info_build=Channel %s


item_url_build=%s

@ENDIF@