<settings>
  <category label="General">
    <setting id="save_location" type="folder"  label="Select a download location." default=""/>
    <setting id="use_thumb" type="bool" label="Use Thumbnails as Fanart" default="false" />
    <setting id="add_playlist" type="bool" label="Add items with multiple links as play lists" default="false"/>
    <setting id="debug" type="bool" label="Enable Add-on Debugging" default="false"/>
  </category>
  <category label="Add Source">
    <setting id="choose_source" type="enum" values="Choose File|Enter URL" label="Choose Source Type" default=""/>
    <setting id="new_file_source" type="file" source="files" label="Choose File" default="" visible="eq(-1,0)"/>
    <setting id="new_url_source" type="text" label="Add URL" default="" visible="eq(-2,1)"/>
    <setting type="sep" />
    <setting type="action" label="Add Source" option="close" action="RunPlugin(plugin://plugin.video.clarkeystreams/?mode=7)" />
    <setting type="sep" />
  </category>
  <category label="Clarkey's XML Files">
    <setting type="action" label="Add Clarkey's XML" option="close" action="RunPlugin(plugin://plugin.video.clarkeystreams/?mode=18)" />
  </category>
</settings>