<settings>
<category label="Settings">
    <setting type="lsep" label="FilmOn Login Details:"/>
	<setting id="user" type="text" label="Email" default="" enable="!eq(-1,false)"/>
	<setting id="pass" type="text" option="hidden" label="Password" default="" enable="!eq(-2,false)"/>
    <setting type="lsep" label="Resolution:"/>
	<setting id="res" type="bool" label="Enable For HD" default="true"/>
    <setting type="lsep" label="Automatic Views:"/>
	<setting id="auto-view" type="bool" label="Enable Automatic View" default="true"/>
	<setting id="default" type="number" label="Everything" default="500" enable="!eq(-1,false)"/>
    <setting id="pop_time" type="text" label="For POP UP" default="2000-01-01 00:00:00" visible="false"/>
    <setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
    <setting id="visitor_ga" type="text" label="GA visitor" default="" visible="false"/>
    <setting type="lsep" label="Sort By Alphabet:"/>
	<setting id="sort_method" type="bool" label="Enable Alphabet Order" default="false"/>
</category>
<category label="Enable Channels">
    <setting id="1" type="bool" label="BBC One" default="true"/>
    <setting id="2" type="bool" label="BBC Two" default="true"/>
    <setting id="3" type="bool" label="ITV" default="true"/>
    <setting id="4" type="bool" label="Channel 4" default="true"/>
    <setting id="5" type="bool" label="Channel 5" default="true"/>
    <setting id="6" type="bool" label="ITV 2" default="true"/>
    <setting id="7" type="bool" label="ITV 3" default="true"/>
    <setting id="8" type="bool" label="ITV 4" default="true"/>
    <setting id="30" type="bool" label="ITV1+1" default="true"/>
    <setting id="31" type="bool" label="ITV2+1" default="true"/>
    <setting id="32" type="bool" label="ITV3+1" default="true"/>
    <setting id="33" type="bool" label="ITV4+1" default="true"/>
    <setting id="9" type="bool" label="E4" default="true"/>
    <setting id="10" type="bool" label="BBC HD" default="true"/>
    <setting id="11" type="bool" label="More4" default="true"/>
    <setting id="12" type="bool" label="5USA" default="true"/>
    <setting id="13" type="bool" label="5USA+1" default="true"/>
    <setting id="14" type="bool" label="5*" default="true"/>
    <setting id="15" type="bool" label="5*+1" default="true"/>
    <setting id="16" type="bool" label="Channel5+1" default="true"/>
    <setting id="17" type="bool" label="Challenge" default="true"/>
    <setting id="18" type="bool" label="Dave" default="true"/>
    <setting id="19" type="bool" label="Film 4" default="true"/>
    <setting id="20" type="bool" label="Pick TV" default="true"/>
    <setting id="21" type="bool" label="CBBC/BBC Three" default="true"/>
    <setting id="22" type="bool" label="CBEEBIES/BBC Four" default="true"/>
    <setting id="23" type="bool" label="BBC News" default="true"/>
    <setting id="24" type="bool" label="BBC Ireland" default="true"/>
    <setting id="25" type="bool" label="FilmOn Football" default="true"/>
    <setting id="26" type="bool" label="Viva" default="true"/>
    <setting id="27" type="bool" label="4 Music" default="true"/>
    <setting id="28" type="bool" label="Really" default="true"/>
    <setting id="29" type="bool" label="Yesterday" default="true"/>
    
    
    <!-- FOR SAVING CHANNELS -->    
    <setting id="BBC One" type="text" label="BBC One" default="306" visible="false"/>
    <setting id="BBC Two" type="text" label="" default="306" visible="false"/>
    <setting id="ITV" type="text" label="ITV" default="302" visible="false"/>
    <setting id="Channel 4" type="text" label="Channel 4" default="303" visible="false"/>
    <setting id="Channel 5" type="text" label="Channel 5" default="303" visible="false"/>
    <setting id="ITV 2" type="text" label="ITV 2" default="302" visible="false"/>
    <setting id="ITV 3" type="text" label="ITV 3" default="302" visible="false"/>
    <setting id="ITV 4" type="text" label="ITV 4" default="302" visible="false"/>
    <setting id="ITV1+1" type="text" label="ITV1+1" default="302" visible="false"/>
    <setting id="ITV2+1" type="text" label="ITV2+1" default="302" visible="false"/>
    <setting id="ITV3+1" type="text" label="ITV3+1" default="302" visible="false"/>
    <setting id="ITV4+1" type="text" label="ITV4+1" default="302" visible="false"/>
    <setting id="E4" type="text" label="E4" default="302" visible="false"/>
    <setting id="BBC HD" type="text" label="BBC HD" default="306" visible="false"/>
    <setting id="More4" type="text" label="More4" default="302" visible="false"/>
    <setting id="5USA" type="text" label="5USA" default="300" visible="false"/>
    <setting id="5USA+1" type="text" label="5USA+1" default="300" visible="false"/>
    <setting id="5*" type="text" label="5*" default="300" visible="false"/>
    <setting id="5*+1" type="text" label="5*+1" default="300" visible="false"/>
    <setting id="Channel5+1" type="text" label="Channel5+1" default="308" visible="false"/>
    <setting id="Challenge" type="text" label="Challenge" default="307" visible="false"/>
    <setting id="Dave" type="text" label="Dave" default="308" visible="false"/>
    <setting id="Film 4" type="text" label="Film 4" default="302" visible="false"/>
    <setting id="Pick TV" type="text" label="Pick TV" default="308" visible="false"/>
    <setting id="CBBC/BBC Three" type="text" label="CBBC/BBC Three" default="306" visible="false"/>
    <setting id="CBEEBIES/BBC Four" type="text" label="CBEEBIES/BBC Four" default="306" visible="false"/>
    <setting id="BBC News" type="text" label="BBC News" default="302" visible="false"/>
    <setting id="BBC Ireland" type="text" label="BBC Ireland" default="304" visible="false"/>
    <setting id="FilmOn Football" type="text" label="FilmOn Football" default="305" visible="false"/>
    <setting id="Viva" type="text" label="Viva" default="308" visible="false"/>
    <setting id="4 Music" type="text" label="4 Music" default="308" visible="false"/>
    <setting id="Really" type="text" label="Viva" default="308" visible="false"/>
    <setting id="Yesterday" type="text" label="4 Music" default="308" visible="false"/>
</category>
</settings>