########################################################
# Cricket
########################################################

skill=videoTitle
catcher=streams


########################################################
# Channels - http://www.crictime.co/
########################################################
title=crictime - SERVER 1
icon=
url=http://www.crictime.com/frame.htm
########################################################
title=crictime - SERVER 2
icon=
url=http://www.crictime.com/frame2.htm
########################################################
title=crictime - SERVER 3
icon=
url=http://www.fastcric.com/frame.htm
########################################################
title=crictime - SERVER 4
icon=
url=http://cricalive.com/frame2.htm
########################################################
title=crictime - SERVER 5
icon=
url=http://cricalive.com/frame.htm


#################################################################################
########################################################
# Channels - http://www.webcric.com
########################################################
#################################################################################
title=webcric - Live 1
icon=
url=http://www.webcric.com/frame1.htm
########################################################
title=webcric - Live 2
icon=
url=http://www.webcric.com/frame.htm
########################################################
title=webcric - Live 3
icon=
url=http://www.webcric.com/frame2.htm



#################################################################################
########################################################
# Channels - http://lankajustin.info/link1
########################################################
#################################################################################

##############################################################################
#######################################################
myfreehd.tv
#######################################################
###############################################################################
title=myfreehd.tv - Channel 1
icon=http://www.myfreehd.tv/wp-content/themes/wordtube/logo/logo.png
url=http://myfreehd.tv/live/tv1.php?live=LiveCricket&vw=640&vh=400&video=0&domain=myfreehd.tv
########################################################
title=myfreehd.tv - Channel 2
icon=http://www.myfreehd.tv/wp-content/themes/wordtube/logo/logo.png
url=http://myfreehd.tv/live/tv2.php?live=LiveCricket&vw=640&vh=400&video=0&domain=myfreehd.tv
########################################################
title=myfreehd.tv - Channel 3
icon=http://www.myfreehd.tv/wp-content/themes/wordtube/logo/logo.png
url=http://myfreehd.tv/live/tv3.php?live=LiveCricket&vw=640&vh=400&video=0&domain=myfreehd.tv
########################################################
title=myfreehd.tv - Channel 4
icon=http://www.myfreehd.tv/wp-content/themes/wordtube/logo/logo.png
url=http://myfreehd.tv/live/tv4.php?live=LiveCricket&vw=640&vh=400&video=0&domain=myfreehd.tv


#################################################################################
########################################################
# Channels - http://www.streamer247.com/
########################################################
#################################################################################
title=streamer247.com - Cricket247 
icon=http://i.imgur.com/wi901BF.png
url=http://embed.streamer247.com/
########################################################
title=streamer247.com - HD Coverage
icon=http://i.imgur.com/wi901BF.png
url=http://www.streamer247.com/hd.php
########################################################
title=streamer247.com - Sky Sports
icon=http://i.imgur.com/wi901BF.png
url=http://www.streamer247.com/hd1.php
########################################################
title=streamer247.com - Ten Cricket 
icon=http://i.imgur.com/wi901BF.png
url=http://www.streamer247.com/tencricket.php
########################################################
title=streamer247.com - Geo Super
icon=http://i.imgur.com/wi901BF.png
url=http://www.streamer247.com/geosuper.php
########################################################
title=streamer247.com - Star Cricket
icon=http://i.imgur.com/wi901BF.png
url=http://www.streamer247.com/starcricket.php
########################################################
title=streamer247.com - Star Sports
icon=http://i.imgur.com/wi901BF.png
url=http://www.streamer247.com/starsports.php
########################################################
title=streamer247.com - Ten Sports Pak
icon=http://i.imgur.com/wi901BF.png
url=http://www.streamer247.com/tenpak.php
########################################################
title=streamer247.com - Ten Sports
icon=http://i.imgur.com/wi901BF.png
url=http://www.streamer247.com/tensports.php
########################################################
title=streamer247.com - Ten Action
icon=http://i.imgur.com/wi901BF.png
url=http://www.streamer247.com/tenaction.php
########################################################
title=streamer247.com - ESPN
icon=http://i.imgur.com/wi901BF.png
url=http://www.streamer247.com/espn.php
########################################################
title=streamer247.com - PTV Sports
icon=http://i.imgur.com/wi901BF.png
url=http://www.streamer247.com/ptvsports.php
########################################################
title=streamer247.com - Sony Max
icon=http://i.imgur.com/wi901BF.png
url=http://www.streamer247.com/max.php
########################################################
title=streamer247.com - Sony Six
icon=http://i.imgur.com/wi901BF.png
url=http://www.streamer247.com/sonysix.php


#################################################################################
########################################################
# Channels - http://cricketembed.com
########################################################
#################################################################################
title=cricketembed.com - HD 1
icon=http://3.bp.blogspot.com/-yAcrQsBwykk/UaEwet0dXpI/AAAAAAAAAFE/VX89_nU6xTY/s1600/cricketembed+banner.png
url=http://cricketembed.com/hd.php
########################################################
title=cricketembed.com - HD 2
icon=http://3.bp.blogspot.com/-yAcrQsBwykk/UaEwet0dXpI/AAAAAAAAAFE/VX89_nU6xTY/s1600/cricketembed+banner.png
url=http://cricketembed.com/hd1.php
########################################################
title=cricketembed.com - Link 1
icon=http://3.bp.blogspot.com/-yAcrQsBwykk/UaEwet0dXpI/AAAAAAAAAFE/VX89_nU6xTY/s1600/cricketembed+banner.png
url=http://cricketembed.com/link1.php
########################################################
title=cricketembed.com - Link 2
icon=http://3.bp.blogspot.com/-yAcrQsBwykk/UaEwet0dXpI/AAAAAAAAAFE/VX89_nU6xTY/s1600/cricketembed+banner.png
url=http://cricketembed.com/link2.php
########################################################
title=cricketembed.com - Ten Cricket
icon=http://3.bp.blogspot.com/-yAcrQsBwykk/UaEwet0dXpI/AAAAAAAAAFE/VX89_nU6xTY/s1600/cricketembed+banner.png
url=http://cricketembed.com/tencricket.php
########################################################
title=cricketembed.com - Ten Action
icon=http://3.bp.blogspot.com/-yAcrQsBwykk/UaEwet0dXpI/AAAAAAAAAFE/VX89_nU6xTY/s1600/cricketembed+banner.png
url=http://cricketembed.com/tenaction.php
########################################################
title=cricketembed.com - Sky Sports 
icon=http://3.bp.blogspot.com/-yAcrQsBwykk/UaEwet0dXpI/AAAAAAAAAFE/VX89_nU6xTY/s1600/cricketembed+banner.png
url=http://cricketembed.com/sky.php
########################################################
title=cricketembed.com - Willow Cricket 
icon=http://3.bp.blogspot.com/-yAcrQsBwykk/UaEwet0dXpI/AAAAAAAAAFE/VX89_nU6xTY/s1600/cricketembed+banner.png
url=http://cricketembed.com/willow.php
########################################################
title=cricketembed.com - PTV Sports
icon=http://3.bp.blogspot.com/-yAcrQsBwykk/UaEwet0dXpI/AAAAAAAAAFE/VX89_nU6xTY/s1600/cricketembed+banner.png
url=http://cricketembed.com/ptv.php
########################################################
title=cricketembed.com - Star Cricket
icon=http://3.bp.blogspot.com/-yAcrQsBwykk/UaEwet0dXpI/AAAAAAAAAFE/VX89_nU6xTY/s1600/cricketembed+banner.png
url=http://cricketembed.com/starcricket.php
########################################################
title=cricketembed.com - Ten Sports
icon=http://3.bp.blogspot.com/-yAcrQsBwykk/UaEwet0dXpI/AAAAAAAAAFE/VX89_nU6xTY/s1600/cricketembed+banner.png
url=http://cricketembed.com/tensports.php
########################################################
title=cricketembed.com - Geo Super 
icon=http://3.bp.blogspot.com/-yAcrQsBwykk/UaEwet0dXpI/AAAAAAAAAFE/VX89_nU6xTY/s1600/cricketembed+banner.png
url=http://cricketembed.com/geo.php
########################################################
title=cricketembed.com - Fox Soccer
icon=http://3.bp.blogspot.com/-yAcrQsBwykk/UaEwet0dXpI/AAAAAAAAAFE/VX89_nU6xTY/s1600/cricketembed+banner.png
url=http://cricketembed.com/fox.php
########################################################
title=cricketembed.com - Cric One
icon=http://2.bp.blogspot.com/-SQPmRiri8us/UUhwkEpP71I/AAAAAAAAAC8/bIlYXQVqtt4/s320/Cricone.jpg
url=http://cricketembed.com/cricone.php



#################################################################################
########################################################
# Channels - http://livesport4u.com
########################################################
#################################################################################


#################################################################################
########################################################
# Channels - http://cricvid.com/
########################################################
#################################################################################
title=cricvid - Channel 1
icon=
url=http://cricpower.com/link1.php
########################################################
title=cricvid - Channel 2
icon=
url=http://cricpower.com/link2.php
########################################################
title=cricvid - Channel 3
icon=
url=http://cricpower.com/link3.php
########################################################
title=cricvid - Channel 4
icon=
url=http://cricpower.com/link6.php
########################################################
title=cricvid - Channel 5
icon=
url=http://cricket-365.info/frame1.html
########################################################
title=cricvid - Channel 6
icon=
url=http://www.dunyasports.com/tvframes/tv1.php
########################################################
title=cricvid - Channel 7
icon=
url=http://www.dunyasports.com/tvframes/tv7.php
#########################################################################


#################################################################################
########################################################
# Channels - http://www.khantv.com
########################################################
#################################################################################
title=KhanTv - Channel 1
icon=http://www.khantv.com/images/khantv.png
url=http://www.khantv.info/player/?channel=cricket_1&width=600&height=430
########################################################
title=KhanTv - Channel 2
icon=http://www.khantv.com/images/khantv.png
url=http://www.khantv.info/player/?channel=cricket_2&width=600&height=450
########################################################
title=KhanTv - Channel 3
icon=http://www.khantv.com/images/khantv.png
url=http://www.khantv.info/player/?channel=cricket_3&width=600&height=450
########################################################
title=KhanTv - Channel 4
icon=http://www.khantv.com/images/khantv.png
url=http://www.khantv.info/player/?channel=cricket_4&width=600&height=450
########################################################
title=KhanTv - Channel 5
icon=http://www.khantv.com/images/khantv.png
url=http://www.khantv.info/player/?channel=cricket_5&width=600&height=450

########################################################
title=KhanTv - Channel 6
icon=http://www.khantv.com/images/khantv.png
url=http://www.embedsports.com/


#################################################################################
########################################################
# Channels - iGole.tv
########################################################
#################################################################################
title=iGole.tv - Geo Super
icon=http://www.ihdsports.com/templates/theme676/images/logo.png
url=http://www.igoal.tv/embed/geosuper.php
########################################################
title=iGole.tv - Ptv Sports
icon=http://www.ihdsports.com/templates/theme676/images/logo.png
url=http://www.igoal.tv/embed/ptvsp.php
########################################################
title=iGole.tv - Ten Cricket
icon=http://www.ihdsports.com/templates/theme676/images/logo.png
url=http://www.igoal.tv/embed/tensports.php
########################################################
title=iGole.tv - Willow Cricket
icon=http://www.ihdsports.com/templates/theme676/images/logo.png
url=http://www.igoal.tv/embed/willow.php
########################################################
title=iGole.tv - Cricket
icon=http://www.ihdsports.com/templates/theme676/images/logo.png
url=http://www.igoal.tv/embed/cricket1.php

########################################################
title=iGole.tv - Star Cricket
icon=http://www.ihdsports.com/templates/theme676/images/logo.png
url=http://www.igoal.tv/embed/starcricket.php



#################################################################################
########################################################
# Channels - hitsports.net
########################################################
#################################################################################


########################################################
#######################################################
title=Ten Cricket
icon=http://desistreams.tv/images/ten_cricket.png
url=http://desistreams.tv/embed/ten_cricket.php
########################################################
title=Ten Sports
icon=http://desistreams.tv/images/ten_sports.jpg
url=http://desistreams.tv/embed/ten_sports2.php
########################################################
title=Star Cricket
icon=http://desistreams.tv/images/star_cricket.png
url=http://desistreams.tv/embed/star_cricket.php
########################################################
title=Geo Super
icon=http://desistreams.tv/images/geo_super.png
url=http://desistreams.tv/embed/geo_super.php
########################################################
title=Geo Super 2
icon=http://desistreams.tv/images/geo_super.png
url=http://www.dunyasports.com/sports/super.php
########################################################
title=PTV Sports
icon=http://desistreams.tv/images/ptv_sports.PNG
url=http://desistreams.tv/embed/ptv_sports.php
########################################################
title=Willow Cricket
icon=http://desistreams.tv/images/willow_cricket.PNG
url=http://desistreams.tv/embed/willowcricket_hq.php
########################################################

